<a href="https://colab.research.google.com/github/Oscar19922017/Ml/blob/master/Analisis_Cirugia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Analisis de Cirugias**

ghahhshsshhshsh sjdghdsjdskdhjhfdlsb 
sjhjsjhdkdfjkswb audjhjekd hshjsj d uhaqss

**Librerias**

In [0]:
import pandas as pd
import numpy as np

**Importar Datos**

**Archivo Cirugias Cif**

In [0]:
df_Cif = pd.read_excel("INFORME DE CIRUGIA CIF.xlsx")

In [3]:
df_Cif.head(3)

   Anio  Mes  ...        CstIdeProducto        ValCIF
0  2020    1  ...                 10091  1.189118e+06
1  2020    1  ...          10096+123565  9.645069e+05
2  2020    1  ...  113437+113438+113439  4.994296e+06

[3 rows x 27 columns]

**Importar Cirugias Mod**

In [4]:
df_Mod = pd.read_excel("INFORME DE CIRUGIA MOD.xlsx")
df_Mod.head(3)

   Anio  Mes  IdAtencion  ...  ValTercero Tercero NominaMOD
0  2020    1     1040641  ...         0.0      No        No
1  2020    1     1044084  ...         0.0      No        No
2  2020    1     1040237  ...         0.0      No        No

[3 rows x 37 columns]

**Dimensiones**

In [5]:
print(df_Cif.shape)

(825, 27)

In [6]:
print(df_Mod.shape)

(1667, 37)

**Visualizar Variables**

In [7]:
df_Cif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Anio                       825 non-null    int64
 1   Mes                        825 non-null    int64
 2   IdAtencion                 825 non-null    int64
 3   IdCx                       825 non-null    int64
 4   FecCirugia                 825 non-null    datetime64[ns]
 5   FecRegistro                825 non-null    datetime64[ns]
 6   idCCosto                   825 non-null    int64
 7   cod_ccos                   825 non-null    int64
 8   Centro de Costos - SAHI    825 non-null    object
 9   IdUbicacion                825 non-null    int64
 10  Ubicacion - SAHI           825 non-null    object
 11  IdProducto                 825 non-null    object
 12  Producto - SAHI            825 non-null    object
 13  CodLegal                   825 non-null    object
 14  DesInicioCx                718 non-null    object
 15  ValInicioCx                718 non-null    datetime64[ns]
 16  DesFinalCx                 685 non-null    object
 17  ValFinalCx                 685 non-null    datetime64[ns]
 18  MinutosCx                  653 non-null    float64
 19  IdCenCosto                 825 non-null    int64
 20  IdeCenCosto                825 non-null    int64
 21  Centro de Costos - Modulo  825 non-null    object
 22  UniEquivalencia            751 non-null    float64
 23  CstIdProducto              764 non-null    float64
 24  Producto - Modulo          764 non-null    object
 25  CstIdeProducto             764 non-null    object
 26  ValCIF                     825 non-null    float64
dtypes: datetime64[ns](4), float64(4), int64(9), object(10)
memory usage: 174.1+ KB

In [8]:
df_Mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1667 entries, 0 to 1666
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Anio                       1667 non-null   int64
 1   Mes                        1667 non-null   int64
 2   IdAtencion                 1667 non-null   int64
 3   IdCx                       1667 non-null   int64
 4   FecCirugia                 1667 non-null   datetime64[ns]
 5   FecRegistro                1667 non-null   datetime64[ns]
 6   idCCosto                   1667 non-null   int64
 7   cod_ccos                   1667 non-null   int64
 8   Centro de Costos - SAHI    1667 non-null   object
 9   IdUbicacion                1667 non-null   int64
 10  Ubicacion - SAHI           1667 non-null   object
 11  IdProducto                 1667 non-null   object
 12  Producto - SAHI            1667 non-null   object
 13  CodLegal                   1667 non-null   object
 14  IdPersonal                 1667 non-null   int64
 15  NumDocumento               1667 non-null   int64
 16  Nompersonal                1667 non-null   object
 17  IdTercero                  1667 non-null   int64
 18  IdCargo                    1667 non-null   int64
 19  NomCargo                   1667 non-null   object
 20  DesInicioCx                1614 non-null   object
 21  FecInicioCx                1614 non-null   datetime64[ns]
 22  DesFinalCx                 1597 non-null   object
 23  FecFinalCx                 1597 non-null   datetime64[ns]
 24  MinutosCx                  1576 non-null   float64
 25  IdCenCosto                 1667 non-null   int64
 26  IdentificadorCenCosto      1667 non-null   int64
 27  Centro de Costos - Modulo  1667 non-null   object
 28  CstIdProducto              1512 non-null   float64
 29  Producto - Modulo          1512 non-null   object
 30  IdentificadorProducto      1512 non-null   object
 31  TiempoProducto             1512 non-null   float64
 32  ValMODConResponsable       1667 non-null   float64
 33  ValMODSinResponsable       1667 non-null   int64
 34  ValTercero                 1667 non-null   float64
 35  Tercero                    1667 non-null   object
 36  NominaMOD                  1667 non-null   object
dtypes: datetime64[ns](4), float64(5), int64(14), object(14)
memory usage: 482.0+ KB

**Seleccion de Variables**

In [0]:
df_Cif = df_Cif[["IdAtencion","Anio","Mes","FecCirugia","FecRegistro","IdUbicacion","Ubicacion - SAHI","CodLegal","ValInicioCx","ValFinalCx","MinutosCx","ValCIF"]]

In [10]:
df_Cif.head(3)

   IdAtencion  Anio  Mes  ...          ValFinalCx MinutosCx        ValCIF
0     1043856  2020    1  ... 2020-01-27 19:00:00      90.0  1.189118e+06
1     1042103  2020    1  ... 2020-01-15 10:18:00      73.0  9.645069e+05
2     1044065  2020    1  ... 2020-01-23 18:00:00     445.0  4.994296e+06

[3 rows x 12 columns]

In [0]:
df_Mod = df_Mod[["IdAtencion","ValMODConResponsable","ValMODSinResponsable","ValTercero","Tercero","NominaMOD"]]

In [12]:
df_Mod.head(3)

   IdAtencion  ValMODConResponsable  ...  Tercero  NominaMOD
0     1040641                   0.0  ...       No         No
1     1044084                   0.0  ...       No         No
2     1040237                   0.0  ...       No         No

[3 rows x 6 columns]

In [13]:

df_Mod.groupby(['IdAtencion']).sum()

            ValMODConResponsable  ValMODSinResponsable  ValTercero
IdAtencion
1009338             5.561118e+06                     0    56769.91
1018570             0.000000e+00                     0        0.00
1023343             2.284575e+05                     0   436358.16
1024670             2.785233e+05                     0   305992.46
1025215             1.030071e+07                     0        0.00
...                          ...                   ...         ...
1065716             4.701555e+05                     0        0.00
1065825             8.703537e+05                     0    48382.74
1065962             3.078477e+06                     0        0.00
1066167             1.372828e+06                     0        0.00
1066196             2.819228e+06                     0   106325.52

[580 rows x 3 columns]

**Unir Bases de Datos**

In [0]:
df = pd.merge(df_Cif,df_Mod ,how="right",left_on="IdAtencion",right_on="IdAtencion")

In [15]:
df.head(5)

   IdAtencion  Anio  Mes  ... ValTercero Tercero  NominaMOD
0     1043856  2020    1  ...        0.0      No         Si
1     1043856  2020    1  ...        0.0      No         Si
2     1043856  2020    1  ...        0.0      No         Si
3     1043856  2020    1  ...        0.0      No         Si
4     1043856  2020    1  ...        0.0      Si         No

[5 rows x 17 columns]

In [16]:
df.shape

(3405, 17)